<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    {% block title %}
        Welcome  
    {% endblock %}
    
    {% load static %}
    <link rel ="stylesheet" type ="text/css" href="{% static 'Recommender/style.css' %}">
    <meta charset="UTF-8">
</head>
<body>

<h1> hello</h1>
<button type="button" class="btn btn-primary">primary</button>
<div class = "jumbotron">
    {% block body %}
    <p> Logged in </p>
    </div>
    {% endblock %}
</body>
</html> 